.newtodo {
  width: 80%;
  margin: 1em auto;
}
/*
.newtodo--input{
  width: 60%;
  padding: 1em 0.5em;
  background-color: #fdfcf7;
  border: 1.5px solid cadetblue;
}
*/
/*
.newtodo--button {
  width: 30%;
  margin-left: 3%;
  padding: 1em 0em;
  cursor: pointer;
  background-color: Cornsilk;
  color: CadetBlue;
  border: 1.5px solid CadetBlue;
}
*/
.newtodo--button:hover {
  background-color: CadetBlue;
  border: none;
  color: white;
}
