.filter {
  width: 80%;
  margin: 1em auto;
}
.filter--button{
  width: 31%;
  padding: 1em 0em;
  cursor: pointer;
  margin: 1%;
}
.active {
  background-color: CadetBlue;
  color: white;
  border: none;
}
.inactive {
  background-color: Cornsilk;
  color: CadetBlue;
  border: 1.5px solid CadetBlue;
}

.inactive:hover {
  background-color: CadetBlue;
  color: Cornsilk;
  border: none;
}
